#ipa-keyboard
  .ipa-keyboard-menu
    a.ipa-keyboard-menu-option.active(href=".pulmonic") Pulmonic
    a.ipa-keyboard-menu-option(href=".nonpulmonic") Non-pulmonic
    a.ipa-keyboard-menu-option(href=".vowels") Vowels
    a.ipa-keyboard-menu-option(href=".other") Other
    a.ipa-keyboard-menu-option(href=".diacritics") Diacritics

  .ipa-keyboard.diacritics(data-width=410)
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="325", data-example="64 325", data-diacritic="voiceless", data-placement="below")
        a.key.filled(href="#", data-glyph="30a", data-example="14b 30a", data-diacritic="voiceless", data-placement="above")
        .description Voiceless
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="324", data-example="62 324", data-diacritic="breathy-voiced", data-placement="below")
        .description Breathy voiced
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="32a", data-example="74 32a", data-diacritic="dental", data-placement="below")
        .description Dental
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="32c", data-example="73 32c", data-diacritic="voiced", data-placement="below")
        .description Voiced
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="330", data-example="62 330", data-diacritic="creaky-voiced", data-placement="below")
        .description Creaky voiced
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="33a", data-example="64 33a", data-diacritic="apical", data-placement="below")
        .description Apical
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2b0", data-example="74 2b0", data-diacritic="aspirated", data-placement="modifier")
        .description Aspirated
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="33c", data-example="74 33c", data-diacritic="linguolabial", data-placement="below")
        .description Linguolabial
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="33b", data-example="64 33b", data-diacritic="laminal", data-placement="below")
        .description Laminal
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="339", data-example="78 339", data-diacritic="more-rounded", data-placement="below")
        .description More rounded
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2b7", data-example="64 2b7", data-diacritic="labialized", data-placement="modifier")
        .description Labialized
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="303", data-example="7a 303", data-diacritic="nasalized", data-placement="above")
        .description Nasalized
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="31c", data-example="254 31c", data-diacritic="less-rounded", data-placement="below")
        .description Less rounded
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2b2", data-example="74 2b2", data-diacritic="palatalized", data-placement="modifier")
        .description Palatalized
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="207f", data-example="64 207f", data-diacritic="nasal-release", data-placement="modifier")
        .description Nasal release
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="31f", data-example="75 31f", data-diacritic="advanced", data-placement="below")
        a.key.filled(href="#", data-glyph="2d6", data-example="261 2d6", data-diacritic="advanced", data-placement="modifier")
        .description Advanced
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2e0", data-example="64 2e0", data-diacritic="velarized", data-placement="modifier")
        .description Velarized
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2e1", data-example="64 2e1", data-diacritic="lateral-release", data-placement="modifier")
        .description Lateral release
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="320", data-example="69 320", data-diacritic="retracted", data-placement="below")
        a.key.filled(href="#", data-glyph="2d7", data-example="79 2d7", data-diacritic="retracted", data-placement="modifier")
        .description Retracted
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2c1", data-example="61 2c1", data-diacritic="pharyngealized", data-placement="modifier")
        .description Pharyngealized
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="31a", data-example="70 31a", data-diacritic="no-audible-release", data-placement="above")
        .description No audible release
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="308", data-example="61 308", data-diacritic="centralized", data-placement="above")
        .description Centralized
      .ipa-keyboard-cell.double
        a.key.filled.double(href="#", data-glyph="334", data-example="6c 334", data-diacritic="velarized-or-pharyngealized", data-placement="overlay")
        .description Velarized or pharyngealized
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="33d", data-example="26f 33d", data-diacritic="mid-centralized", data-placement="above")
        .description Mid-centralized
      .ipa-keyboard-cell.double
        a.key.filled(href="#", data-glyph="31d", data-example="72 31d", data-diacritic="raised", data-placement="below")
        a.key.filled(href="#", data-glyph="2d4", data-example="26d 2d4", data-diacritic="raised", data-placement="modifier")
        .description Raised
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="329", data-example="6e 329", data-diacritic="syllabic", data-placement="below")
        a.key.filled(href="#", data-glyph="30d", data-example=" 30d", data-diacritic="syllabic", data-placement="above")
        .description Syllabic
      .ipa-keyboard-cell.double
        a.key.filled(href="#", data-glyph="31e", data-example="27b 31e", data-diacritic="lowered", data-placement="below")
        a.key.filled(href="#", data-glyph="2d5", data-example="263 2d5", data-diacritic="lowered", data-placement="modifier")
        .description Lowered
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="32f", data-example="28a 32f", data-diacritic="non-syllabic", data-placement="below")
        a.key.filled(href="#", data-glyph="311", data-example="79 311", data-diacritic="non-syllabic", data-placement="above")
        .description Non-syllabic
      .ipa-keyboard-cell.double
        a.key.filled.double(href="#", data-glyph="318", data-example="26f 318", data-diacritic="advanced-tongue-root", data-placement="below")
        .description Advanced tongue root
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2de", data-example="25c 2de", data-diacritic="rhoticized", data-placement="modifier")
        .description Rhoticized
      .ipa-keyboard-cell.double
        a.key.filled.double(href="#", data-glyph="319", data-example="65 319", data-diacritic="retracted-tongue-root", data-placement="below")
        .description Retracted tongue root

  .ipa-keyboard.other(data-width=420)
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="28d", data-voicing="voiceless", data-place="labial-velar", data-manner="fricative")
        .description Voiceless labial-velar fricative
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="255", data-voicing="voiceless", data-place="alveolar-palatal", data-manner="fricative")
        a.key.filled(href="#", data-glyph="291", data-voicing="voiced", data-place="alveolar-palatal", data-manner="fricative")
        .description Alveolo-palatal fricatives
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="77", data-voicing="voiced", data-place="labial-velar", data-manner="approximant")
        .description Voiced labial-velar approximant
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="27a", data-voicing="voiced", data-place="alveolar", data-manner="lateral-flap")
        .description Voiced alveolar lateral flap
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="265", data-voicing="voiced", data-place="labial-palatal", data-manner="approximant")
        .description Voiced labial-palatal approximant
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="267", data-voicing="voiceless", data-place="palatal-velar", data-manner="fricative")
        .description simultaneous ʃ and x
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="127", data-voicing="voiceless", data-place="epiglottal", data-manner="fricative")
        .description Voiceless epiglottal fricative
      .ipa-keyboard-cell.impossible
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2a2", data-voicing="voiced", data-place="epiglottal", data-manner="fricative")
        .description Voiced epiglottal fricative
      .ipa-keyboard-cell.impossible
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled.double(href="#", data-glyph="2a1", data-voicing="voiceless", data-place="epiglottal", data-manner="plosive")
        .description Epiglottal plosive
      .ipa-keyboard-cell.impossible

  .ipa-keyboard.vowels(data-width=360)
    .ipa-keyboard-row.headers
      .ipa-keyboard-cell
        .header &nbsp;
      .ipa-keyboard-cell
        .header Front
      .ipa-keyboard-cell
        .header Near-front
      .ipa-keyboard-cell
        .header Central
      .ipa-keyboard-cell
        .header Near-back
      .ipa-keyboard-cell
        .header Back
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Close
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="69", data-rounded="unrounded", data-height="close", data-backness="front")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="79", data-rounded="rounded", data-height="close", data-backness="back")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="268", data-rounded="unrounded", data-height="close", data-backness="central")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="289", data-rounded="rounded", data-height="close", data-backness="central")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="26f", data-rounded="unrounded", data-height="close", data-backness="back")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="75", data-rounded="rounded", data-height="close", data-backness="back")
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Near-close
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="26a", data-rounded="unrounded", data-height="near-close", data-backness="near-front")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="28f", data-rounded="rounded", data-height="near-close", data-backness="near-front")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key
        a.key.filled(href="#", data-glyph="28a", data-rounded="rounded", data-height="near-close", data-backness="near-back")
      .ipa-keyboard-cell
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Close-mid
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="65", data-rounded="unrounded", data-height="close-mid", data-backness="front")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="f8", data-rounded="rounded", data-height="close-mid", data-backness="front")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="258", data-rounded="unrounded", data-height="close-mid", data-backness="central")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="275", data-rounded="rounded", data-height="close-mid", data-backness="central")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="264", data-rounded="unrounded", data-height="close-mid", data-backness="back")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="6f", data-rounded="rounded", data-height="close-mid", data-backness="back")
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Mid
      .ipa-keyboard-cell
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="259", data-rounded="unrounded", data-height="mid", data-backness="central")
        a.key
      .ipa-keyboard-cell
      .ipa-keyboard-cell
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Open-mid
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="25b", data-rounded="unrounded", data-height="open-mid", data-backness="front")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="153", data-rounded="rounded", data-height="open-mid", data-backness="front")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="25c", data-rounded="unrounded", data-height="open-mid", data-backness="central")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="25e", data-rounded="rounded", data-height="open-mid", data-backness="central")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="28c", data-rounded="unrounded", data-height="open-mid", data-backness="back")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="254", data-rounded="rounded", data-height="open-mid", data-backness="back")
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Near-open
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="e6", data-rounded="unrounded", data-height="near-open", data-backness="front")
        a.key
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="250", data-rounded="unrounded", data-height="near-open", data-backness="central")
        a.key
      .ipa-keyboard-cell
      .ipa-keyboard-cell
    .ipa-keyboard-row
      .ipa-keyboard-cell.header Open
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="61", data-rounded="unrounded", data-height="open", data-backness="front")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="276", data-rounded="rounded", data-height="open", data-backness="front")
      .ipa-keyboard-cell
      .ipa-keyboard-cell
      .ipa-keyboard-cell
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="251", data-rounded="unrounded", data-height="open", data-backness="back")
        span.separator &middot;
        a.key.filled(href="#", data-glyph="252", data-rounded="rounded", data-height="open", data-backness="back")

  .ipa-keyboard.nonpulmonic(data-width=392)
    .ipa-keyboard-row.headers
      .ipa-keyboard-cell
        .header Clicks
      .ipa-keyboard-cell
        .header Implosives
      .ipa-keyboard-cell
        .header Ejectives
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="298", data-voicing="voiceless", data-place="bilabial", data-manner="click")
        .description Bilabial
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="253", data-voicing="voiced", data-place="bilabial", data-manner="implosive")
        .description Bilabial
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="2bc", data-diacritic="ejective", data-placement="modifier")
        .description
          em For example
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="1c0", data-voicing="voiceless", data-place="dental", data-manner="click")
        .description Dental
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="257", data-voicing="voiced", data-place="alveolar", data-manner="implosive")
        .description Dental / alveolar
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="70 2bc", data-voicing="voiceless", data-place="bilabial", data-manner="ejective")
        .description Bilabial
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="1c3", data-voicing="voiceless", data-place="postalveolar", data-manner="click")
        .description (Post)alveolar
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="284", data-voicing="voiced", data-place="palatal", data-manner="implosive")
        .description Palatal
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="74 2bc", data-voicing="voiceless", data-place="alveolar", data-manner="ejective")
        .description Dental / alveolar
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="1c2", data-voicing="voiceless", data-place="palatoalveolar", data-manner="click")
        .description Palatoalveolar
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="260", data-voicing="voiced", data-place="velar", data-manner="implosive")
        .description Velar
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="6b 2bc", data-voicing="voiceless", data-place="velar", data-manner="ejective")
        .description Velar
    .ipa-keyboard-row
      .ipa-keyboard-cell
        a.key.filled(href="#", data-glyph="1c1", data-voicing="voiceless", data-place="alveolar-lateral", data-manner="click")
        .description Alveolar lateral
      .ipa-keyboard-cell.uvular.implosive
        a.key.filled(href="#", data-glyph="29b", data-voicing="voiced", data-place="uvular", data-manner="implosive")
        .description Uvular
      .ipa-keyboard-cell.alveolar-fricative.ejective
        a.key.filled(href="#", data-glyph="73 2bc", data-voicing="voiceless", data-place="alveolar-fricative", data-manner="ejective")
        .description Alveolar fricative

  .ipa-keyboard.pulmonic.active(data-width=500)
    .ipa-keyboard-row.headers
      .ipa-keyboard-cell
        .header &nbsp;
      .ipa-keyboard-cell
        .header Bilab
      .ipa-keyboard-cell
        .header Labiod
      .ipa-keyboard-cell
        .header Dental
      .ipa-keyboard-cell
        .header Alveo
      .ipa-keyboard-cell
        .header Postal
      .ipa-keyboard-cell
        .header Retro
      .ipa-keyboard-cell
        .header Palatal
      .ipa-keyboard-cell
        .header Velar
      .ipa-keyboard-cell
        .header Uvular
      .ipa-keyboard-cell
        .header Pharyn
      .ipa-keyboard-cell
        .header Glottal
    .ipa-keyboard-row.plosive
      .ipa-keyboard-cell.header Plosive
      .ipa-keyboard-cell.bilabial.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.plosive
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.plosive
        a.key.voiceless(href="#")
        a.key.voiced.impossible(href="#")
      .ipa-keyboard-cell.glottal.plosive
        a.key.voiceless(href="#")
        a.key.voiced.impossible(href="#")
    .ipa-keyboard-row.nasal
      .ipa-keyboard-cell.header Nasal
      .ipa-keyboard-cell.bilabial.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.nasal
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.nasal.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.nasal.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.trill
      .ipa-keyboard-cell.header Trill
      .ipa-keyboard-cell.bilabial.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.trill.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.trill
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.trill.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.flap
      .ipa-keyboard-cell.header Flap
      .ipa-keyboard-cell.bilabial.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.flap.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.flap
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.flap.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.fricative
      .ipa-keyboard-cell.header Fric
      .ipa-keyboard-cell.bilabial.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.lateral-fricative
      .ipa-keyboard-cell.header Lat fric
      .ipa-keyboard-cell.bilabial.lateral-fricative.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.lateral-fricative.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.lateral-fricative
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.lateral-fricative.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.lateral-fricative.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.approximant
      .ipa-keyboard-cell.header Approx
      .ipa-keyboard-cell.bilabial.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.approximant.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
    .ipa-keyboard-row.lateral-approximant
      .ipa-keyboard-cell.header Lat Aprx
      .ipa-keyboard-cell.bilabial.lateral-approximant.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.labiodental.lateral-approximant.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.dental.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.alveolar.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.postalveolar.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.retroflex.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.palatal.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.velar.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.uvular.lateral-approximant
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.pharyngeal.lateral-approximant.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
      .ipa-keyboard-cell.glottal.lateral-approximant.impossible
        a.key.voiceless(href="#")
        a.key.voiced(href="#")
