header-border-color = #333
border-color = #ccc
active-color = #99f
impossible-bg-color = #ccc
text-color = #333

keyboard()
  .ipa-keyboard-row
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    border-bottom: 1px solid border-color

    &:last-child
      border-bottom: none

    &.headers
      border-bottom: 1px solid header-border-color

    .ipa-keyboard-cell
      width: arguments
      border-right: 1px solid border-color
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      text-align: center

      &.double
        width: arguments * 2

      &:last-child
        border-right: none

      .header
        flex: 1 1 auto

      a
        color: text-color
        text-decoration: none
        height: 16px
        width: 16px

body
  font-family: sans-serif

#ipa-keyboard
  border: 1px solid header-border-color
  border-radius: 4px
  font-size: 12px
  width: 500px

  .impossible
    background-color: impossible-bg-color

  .header
    font-variant: small-caps
    text-transform: lowercase

  .key
    color: text-color
    text-decoration: none
    display: block
    height: 16px
    width: 16px
    text-align: center
    cursor: default

    &.filled:hover
      background-color: rgba(0, 0, 0, 0.1)
      cursor: pointer

  .ipa-keyboard-menu
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    height: 16px

    .ipa-keyboard-menu-option
      flex: 1 1 auto
      text-align: center
      border-right: 1px solid border-color
      color: text-color
      text-decoration: none

      &.active
        background-color: active-color

      &:last-child
        border-right: none

  .ipa-keyboard
    display: none
    border-top: 3px double header-border-color

    &.active
      display: block

    &.nonpulmonic
      keyboard: (100% / 3)

    &.other
      keyboard: (100% / 2)
      
      .ipa-keyboard-cell
        align-items: flex-start

        .key.double
          width: 32px
        .key:last-child
          margin-right: 5px

    &.diacritics
      keyboard: (100% / 3)

      .ipa-keyboard-cell
        align-items: flex-start

        .key.double
          width: 32px
        .key:last-child
          margin-right: 5px

    &.vowels
      keyboard: (100% / 6)

      .key
        flex: 1 1 auto

    &.pulmonic
      keyboard: (100% / 12)

      .key
        flex: 1 1 auto
